@media (max-width: 500px) {
        .main-row {
                margin: 0 !important;
        }
}
/* The animation code */
@keyframes news {
        from {
                background: linear-gradient(to right, #000000, #444444),
                        linear-gradient(to right, #012e76, #467fda);
                background-clip: content-box, padding-box;
        }
        to {
                background: linear-gradient(to right, #000000, #444444),
                        linear-gradient(to right, #9c3230, #ff706e);
                background-clip: content-box, padding-box;
        }
}
/* .course-card {
        padding: 1rem;
        background-image: linear-gradient(to right, #000000, #444444),
                linear-gradient(to right, #137e60, #4dddb4);
        background-clip: content-box, padding-box;
}
.course-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25),
                0px 10px 15px rgba(0, 0, 0, 0.35);
        animation: news 2s ease-in-out 1s infinite alternate both;
} */
.course-card:hover,
.notice-card:hover,
.journal-card:hover,
.faculty-card:hover,
.department-card:hover,
.individual-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25),
                0px 10px 15px rgba(0, 0, 0, 0.35);
}

.latest-news {
        font-size: 1rem;
        margin-top: 10px;
}

.latest-news i {
        color: darkorange;
}

.marq-a {
        color: black;
}

.marq-a:hover {
        color: red;
}

.btn-main {
        background: linear-gradient(to right, #9c3230, #ff706e);
        transition: all 0.5s linear 0s;
}
.btn-main:hover {
        background: linear-gradient(to left, #9c3230, #ff706e);
}
.btn-optional {
        background: linear-gradient(to right, #137e60, #4dddb4);
        transition: all 0.5s linear 0s;
}
.btn-optional:hover {
        background: linear-gradient(to left, #137e60, #4dddb4);
}

#messages {
        background: #fff;
}
