.nav-link {
        padding: 0 0.4rem !important;
        text-decoration: none !important;
}

.nav-link a {
        text-decoration: none !important;
}

a:hover {
        text-decoration: none;
}

.header-styles {
        height: 100vh;
}

@media (max-width: 575px) {
        .enroll-btn {
                margin-top: 1rem;
        }
}

.div-col {
        width: 100%;
        height: calc(100vh - 76px);
        flex: 1 !important;
        padding: 0;
        max-width: 100% !important;
}

.carousel-item img {
        width: 100%;
        height: calc(100vh);
}

.carousel-caption {
        right: 35%;
        top: 35%;
}

@media (max-width: 750px) {
        .carousel-caption {
                top: 20%;
        }
}

@media (max-width: 550px) {
        /* .logoText {
                display: none;
        } */
        .toggle {
                /* border: 5px solid red; */
                margin: auto;
        }
        .carousel-caption {
                width: 80%;
        }
        .carousel-caption h1 {
                font-size: 1.7rem;
        }
}

.dropdown-menu {
        background-color: #4bdab1;
}
/* #academic-dropdown,
#administration-dropdown,
#facilities-dropdown,
#publications-dropdown,
#admission-dropdown,
#links-dropdown,
#about-link {
        color: rgba(255, 255, 255, 0.845);
} */
/* #academic-dropdown:hover,
#administration-dropdown:hover,
#facilities-dropdown:hover,
#publications-dropdown:hover,
#admission-dropdown:hover,
#links-dropdown:hover,
#about-link:hover {
        color: white;
} */
.navbar-light .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.85);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
        color: white;
}

.dropdown a {
        color: #000;
}

.dropdown a:hover {
        background-color: transparent;
        color: brown;
}

/* .parent {
        border: 1px solid red;
        width: 59.5vw;
}
.parent:hover {
        width: 59.5vw;
} */
/* .children {
        border: 1px solid blue;
        width: 20vw;
        transition: all 0.5s linear 1s;
}
.children:hover {
        width: 20vw;
} */
