.nav-link {
        padding: 0 0.5rem !important;
        text-decoration: none !important;
}

.nav-link a {
        text-decoration: none !important;
}

a:hover {
        text-decoration: none;
}

.header-styles {
        height: 100vh;
}

@media (max-width: 575px) {
        .enroll-btn {
                margin-top: 1rem;
        }
}

.div-col {
        width: 100%;
        height: calc(100vh - 76px);
        flex: 1 !important;
        padding: 0;
        max-width: 100% !important;
}

.carousel-item img {
        width: 100%;
        height: calc(100vh);
}

.carousel-caption {
        right: 35%;
        top: 35%;
}

@media (max-width: 750px) {
        .carousel-caption {
                top: 20%;
        }
}

@media (max-width: 550px) {
        .carousel-caption {
                width: 80%;
        }
        .carousel-caption h1 {
                font-size: 1.7rem;
        }
}

.dropdown-menu {
        background-color: #4bdab1;
}
#academic-dropdown,
#administration-dropdown,
#facilities-dropdown,
#publications-dropdown,
#admission-dropdown,
#links-dropdown {
        color: white;
}
#academic-dropdown:hover,
#administration-dropdown:hover,
#facilities-dropdown:hover,
#publications-dropdown:hover,
#admission-dropdown:hover,
#links-dropdown:hover,
#about-link:hover {
        font-weight: 700;
}

/* .nav-link a {
        color: white;
} */
.dropdown a,
#about-link {
        color: white;
        font-weight: 600;
}
.dropdown a:hover {
        background-color: transparent;
        /* margin-left: 1rem; */
        color: white;
        font-weight: 700;
}
